{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "overrides": [
        {
            "files": [
                "*.json",
                "*.jsonc",
                "*.json5"
            ],
            "options": {
                "parser": "json"
            }
        }
    ],
    "useTabs": false,
    "trailingComma": "none",
    "printWidth": 80
}